.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.productCard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.searchbox {
  width: 400px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
